<% include ./partials/header %>
  
  <!-- Welcome Section -->
  <section id="welcome" class="py-5 bg-primary">
    <div class="container-fluid">
      <div class="row">
        <h3>Welcome</h3>
      </div>
    </div>
  </section>
  
  <!-- Services Section -->
  <section id="services" class="py-5 bg-info">
    <div class="container-fluid">
      <div class="row">
        <h3>Services</h3>
      </div>
    </div>
  </section>
  
  <!-- Gallery Section -->
  <section id="gallery" class="py-5 bg-success">
    <div class="container-fluid">
      <div class="row">
        <h3>Gallery</h3>
      </div>
    </div>
  </section>
  
  <!-- About Section -->
  <section id="about" class="py-5 bg-warning">
    <div class="container-fluid">
      <div class="row">
        <h3>About</h3>
      </div>
    </div>
  </section>
  
  <!-- Contact Section -->
  <section id="contact" class="py-5 bg-danger">
    <div class="container-fluid">
      <div class="row">
        <h3>Contact Us</h3>
      </div>
    </div>
  </section>
  
  <!-- Footer Section -->
  <footer id="footer" class="py-5 bg-light">
    <div class="container-fluid">
      <div class="row">
        <h3>Footer</h3>
      </div>
    </div>
  </footer>
  
  
  
  <!--<div class="container">-->
  <!--  <h1>Our Print Sizes</h1>-->
  <!--  <div class="row">-->
  <!--    <div class="col-sm-6 col-md-3">-->
  <!--      <img src="img/small.jpg" class="img-fluid d-none d-sm-block">-->
  <!--      <h5>Small</h5>-->
  <!--      <div class="row">-->
  <!--        <div class="col-sm-4">6x5</div>-->
  <!--        <div class="col-sm-4">8x10</div>-->
  <!--        <div class="col-sm-4">11x17</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-sm-6 col-md-3">-->
  <!--      <img src="img/medium.jpg" class="img-fluid">-->
  <!--      <h5>Medium</h5>-->
  <!--      <div class="row">-->
  <!--        <div class="col-sm-4">12x18</div>-->
  <!--        <div class="col-sm-4">16x20</div>-->
  <!--        <div class="col-sm-4">18x24</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-sm-6 col-md-3">-->
  <!--      <img src="img/large.jpg" class="img-fluid">-->
  <!--      <h5>Large</h5>-->
  <!--      <div class="row">-->
  <!--        <div class="col-sm-4">19x27</div>-->
  <!--        <div class="col-sm-4">20x30</div>-->
  <!--        <div class="col-sm-4">22x28</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="col-sm-6 col-md-3">-->
  <!--      <img src="img/extra-large.jpg" class="img-fluid">-->
  <!--      <h5>Extra Large</h5>-->
  <!--      <div class="row">-->
  <!--        <div class="col-sm-4">24x36</div>-->
  <!--        <div class="col-sm-4">27x39</div>-->
  <!--        <div class="col-sm-4">27x40</div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->

<% include ./partials/footer %>